.div {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.divPhoto {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.divStatus {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.divPagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selected {
    margin: 10px;
    font-weight: bold;
}

.userName {
    font-family: Calibri, 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: bold;
    font-size: large;
}

.userStatus {
    font-family: Calibri, 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: normal;
    font-size: medium;
    font-style: oblique;
}